#header-nav{
  color: white;
  background-color: purple;
  font-size: 1.5em;
  margin-bottom: 0;
}

.navbar-brand h1{ /* Restaurant name */
  color: white;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: white;
}

#nav-list li{
  padding: 10px;
  border-bottom: 1px solid white;
}

#chicken-box{
  color: white;
  background-color: purple;
  margin-top: 20px;
  padding: 0px;
}

#chicken-box h3{
  margin-bottom: 10px
}

#chicken-box p{
  margin: 30px;
}
